body {
    margin: 0;
    background: #0b0b0b;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.splash {
    text-align: center;
}

.radar {
    width: 180px;
    height: 180px;
    border: 3px solid #00eaff;
    border-radius: 50%;
    margin: auto;
    position: relative;
    box-shadow: 0 0 30px #00eaff;
    animation: pulse 2s infinite;
}

.pointer {
    width: 24px;
    height: 24px;
    background: #00eaff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border-radius: 4px;
}

h1 {
    margin-top: 30px;
    letter-spacing: 5px;
    color: #00eaff;
    text-shadow: 0 0 20px #00eaff;
}

#status {
    color: #bdbdbd;
}

.loading {
    width: 240px;
    height: 6px;
    background: #222;
    border-radius: 20px;
    margin: 30px auto;
    overflow: hidden;
}

.bar {
    width: 40%;
    height: 100%;
    background: #00eaff;
    border-radius: 20px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}
